.img {
    height: 100px;
}

.headerList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}

.header {
    font-size: 1.5rem;
}

.header__list--sub {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__list--sub span {
    text-transform: uppercase;
    margin-left: 25px;
    padding: 5px;
}

.header__list--sub span:last-child {
    border-bottom: 3px solid #174ae4;
    font-weight: 700;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.hero img {
    width: 80.56px;
    height: 50px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.hero p {
    font-size: 2rem;
}