.img {
	height: 100px;
}

.headerList {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	align-items: center;
}

.header {
	position: fixed;
	top: 0;
	font-size: 1.5rem;
    z-index: 99;
}

.header__list--sub {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header__list--sub span {
	text-transform: uppercase;
	margin-left: 25px;
	padding: 5px;
}

.header__list--sub span:last-child {
	border-bottom: 3px solid #174ae4;
	font-weight: 700;
}
